<html>
    <head>
        <title> {{ title }} </title>
    </head>
    <body>
    <div>
        Microblog:
        <a href="{{ url_for('index') }}">Home</a>
        <!--<a href="{{ url_for('login') }}">Login</a> -->
        <a href="{{ url_for('sendcode') }}">Send code</a>
    </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>
